@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:500&display=swap');

.neighborhood {
	overflow-x: hidden;
	box-shadow: 0px 8px 6px -6px #332e2e;
	padding: 0.5rem 0px;

	@media (max-width: 735px) {
		text-align: center;
	}

	&__name {
		margin-bottom: 0.5rem;
		margin-left: 65px;

		font-size: 3rem;
		line-height: 4rem;
		color: #a27d3a;
		letter-spacing: 0.35rem;
		font-family: 'IBM Plex Serif', serif;

		@media (max-width: 735px) {
			margin-left: 0px;
		}
	}

	//Neighborhood apartments will be displayed as Carousel if the All neighborhoods Radio btn is picked
	// OR Wrap - if a unique Neighborhood radio btn is picked
	&__carousel {
		display: grid;
		margin-bottom: 2rem;
		grid-auto-flow: column;
		justify-content: start;
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	@media (max-width: 735px) {
		&__wrap,
		&__carousel {
			display: block;
			margin-bottom: 2rem;
		}
	}
}
