.grid-about {
	display: grid;
	grid-template-rows: 8rem 1fr 4.5rem;
	row-gap: 2rem;
	grid-template-areas:
		'header '
		'content'
		'footer';
	min-height: 100%;
	background-color: white;

	&__header {
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 2;
		height: 8rem;
		width: 100%;
	}

	&__content {
		grid-area: content;
	}

	&__footer {
		grid-area: footer;
	}
}
